<a href="https://colab.research.google.com/github/Khushpreet-kaur1003/assignment/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
l=[12,11,14,13]
#(I)WAP to add elements 50,60 in list
l.append(50)
print (l)
l.append(60)
print ("(I) list after adding 50,60 to list = ",l)

#(II)WAP to delete 11,13 from the list
del l[1]
print("(II)list after deleting 11 =",l)
del l[2]
print("    list after deleting 11 =",l)

#(III)WAP to sort list in ascending order
l.sort()
print("(III) sorted list in ascending order = ",l)

#(IV)WAP to print list in descending order
l.sort(reverse=True)
print("(IV) sorted list in ascending order = ",l)

#(V)WAP search 13 in list
if (13 in l) == True:
    print ("(V) 13 is Present")
else:
    print ("(V) 13 is Not Present")

#(VI)WAP to print number of elements in list
print("(VI) number of elements in list = ",len(l))

#(VII)WAP to add all numbers
sum=0
for i in l:
  sum=sum+i
print("(VII)sum of all numbers = ",sum)

#(VIII)WAP to add all odd numbers in list
odd_sum=0
for i in l:
  if  i % 2 != 0:
    odd_sum=odd_sum+i
print("(VIII) sum of all odd elements in list =",odd_sum)

#(IX)WAP to add all even numbers in list
even_sum=0
for i in l:
  if  i % 2 == 0:
    even_sum=even_sum+i
print("(IX) sum of all even elements in list =",even_sum)

#(X)WAP to add all prime numbers in list
prime_sum=0
for i in l:
  flag=0
  for j in range( 2 , i//2+1):
    if i%j==0:
      flag=flag+1
    if flag==0:
      prime_sum=prime_sum+i
print("(X) sum of all prime elements in list =",prime_sum)

#(XI)WAP to clear the list
l.clear()
print("(XI) after clearing =",l)

#(XII)WAP to delete the list
del l
print("(XII) list deleted")

[12, 11, 14, 13, 50]
(I) list after adding 50,60 to list =  [12, 11, 14, 13, 50, 60]
(II)list after deleting 11 = [12, 14, 13, 50, 60]
    list after deleting 11 = [12, 14, 50, 60]
(III) sorted list in ascending order =  [12, 14, 50, 60]
(IV) sorted list in ascending order =  [60, 50, 14, 12]
(V) 13 is Not Present
(VI) number of elements in list =  4
(VII)sum of all numbers =  136
(VIII) sum of all odd elements in list = 0
(IX) sum of all even elements in list = 136
(X) sum of all prime elements in list = 0
(XI) after clearing = []
(XII) list deleted

In [ ]:
#Q2
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
#(I)WAP to add a new entry in d ; key=8,value=8.8
d[8]=8.8
print("(I) after addition = ",d)

#(II)WAP to delete key 2
del d[2]
print("(II) after deletion = ",d)

#(III)WAP to check wether key 6 is present in d
print("(III) is key 6 present = ",6 in d)

#(IV)WAP to count no. of elements present in d
print("(IV) no. of elements in d = ",len(d))

#(V)WAP to add all values in d
print("(V) sum of all values = ", sum(d.values()))

#(VI)WAP to update value of 3 to 7.1
d[3]=7.1
print("(VI) after updation",d)

#(VII)clear dictionary
d.clear()
print("(VII)after clearing = ",d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
(I) after addition =  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
(II) after deletion =  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
(III) is key 6 present =  False
(IV) no. of elements in d =  5
(V) sum of all values =  37.4
(VI) after updation {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
(VII)after clearing =  {}

In [ ]:
#Q3
s1=set([10,20,30,40,50,60])
s2=set([40,50,60,70,80,90])
print(s1)
print(s2)
#(I)WAP to add 55 and 66 in s1
s1.add(55)
s1.add(66)
print("(I) after adding 55 and 66 s1 = ",s1)

#(II)WAP to remeove 10,30 from set s1
s1.remove(10)
s1.remove(30)
print("(II) after removing 10 and 30 s1 = ",s1)

#(III)WAP to check wether 40 is present in s1
print("(III) 40 is present in s1 = ",40 in s1)

#(IV)WAP to find union of s1 and s2
print("(IV) union of s1 and s2=",s1.union(s2))

#(V)WAP to find intersection of s1 and s2
print("(V) intersection of s1 and s2=",s1.intersection(s2))

#(VI)WAP to find  s1-s2
print("(VI) difference of s1 and s2=",s1.difference(s2))

{40, 10, 50, 20, 60, 30}
{70, 40, 80, 50, 90, 60}
(I) after adding 55 and 66 s1 =  {66, 40, 10, 50, 20, 55, 60, 30}
(II) after removing 10 and 30 s1 =  {66, 40, 50, 20, 55, 60}
(III) 40 is present in s1 =  True
(IV) union of s1 and s2= {66, 70, 40, 80, 50, 20, 55, 90, 60}
(V) intersection of s1 and s2= {40, 50, 60}
(VI) difference of s1 and s2= {66, 20, 55}

In [ ]:
#Q4
# (I)WAP to print 100 random strings of length between 6 and 8
print ("(I) 100 random strings of length between 6 and 8 =")
import string as s
import random as r
for i in range(1,101):
  code="".join(r.sample(s.ascii_letters,r.randint(6,8)))
  print(code)


#(II)WAP to print all  prime numbers between 600 and 800
print( "(II) all  prime numbers between 600 and 800:")
for i in range(600,800):
   flag=0
   for j in range( 2 , i//2+1):
     if i%j==0:
       flag=1
       break

   if flag==0:
    print(i)


#(III)WAP to print all numbers betwee 100 and 1000 divisible by 7 and 9
print ("(III) all numbers betwee 100 and 1000 divisible by 7 and 9")
for i in range(100,1001):
  if(i%7==0):
   if(i%9==0):
    print(i)

(I) 100 random strings of length between 6 and 8 =
ALdpQObE
ltZNUFM
TcZAzQv
FgrGXD
xsvbjzot
efsVNIbT
qFYAOT
KpRQHjGb
rpvfcA
JejGKwZ
XLlEvDo
LgDHRIKp
eVujcQhG
Czhxjb
ZDMWjrO
ITHYNpc
cbhtny
dofeiF
GJxqEezH
DHjWfMv
eGVjDJ
KbqUPInk
OhwsazJ
pbMfwD
tugDLywm
tbqSgxn
idhjnH
ANeZLv
oxGhMpk
IcAYJaRo
ZuAUosj
uVaIBXeP
FpBJacW
YgjZMi
NTkbiKOf
amoiDg
KmoxnYO
Ijbyoh
GHWtmQoe
wBsZlIk
aKXGTlS
BcHXjlM
UxRuaQ
uKkVghd
MHNqIhd
jLIFAT
ISJxia
taskxZW
eiLoAzj
NEZexsMD
vsHjKZ
YOsmkQx
THMpVhR
xZflWiP
YQCSKM
csWCbml
PjykmM
FLmbCc
RguPdy
edTDlXkM
KNCobylH
TMZOPg
sYMLuz
vCaZQPGp
OhPDWeg
MZaYvz
PCGYiTXN
OXFwgjIT
hJOQDYT
CLlnjT
gAnJyEXe
BGEyiYj
FlsVmZ
SrBKNF
kRVJqN
uClBzOL
xrTLuO
nTaqkA
AlhXWOe
DJAUdSEy
mCaRqF
KTZtpgu
MjJLxdDR
NiHtwz
qyuZbTP
UeALtkW
ortDpG
quZibKy
lEYWSA
xktEjT
xdzZcqOF
ntmOuzK
WCYHSEyo
YDOrCEU
egubmnB
zZFcMOwS
tgUZNYjS
UDMxrRs
flLSXY
NAhEZfHS
(II) all  prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
(III) all numbers betwee 100 and 1000 divisible by 7 and 9
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
#Q5
import random as r
l1=r.sample(range(10,30),10)
l2=r.sample(range(10,30),10)
print(l1)
print(l2)

#(I)find common element from both
common=[value for value in l1 if value in l2]
print("common elements in both=",common)

#(II)find unique element from both
unique=[value for value in l1+l2 if(l1+l2)]
print("unique elements are",unique)

#(III)find min element from both
minimum=min(min(l1),min(l2))
print("minimum element=",minimum)

#(IV)find max element from both
max_val = max(max(l1), max(l2))
print(max_val)

#(V)find sum of both list
sum=0
sum1=0
sum2=0
for i in l1:
  sum1=sum1+i
for i in l2:
  sum2=sum2+i
sum=sum1+sum2
print(sum)

[16, 18, 22, 19, 26, 23, 14, 11, 25, 17]
[21, 25, 11, 15, 29, 18, 13, 14, 12, 16]
common elements in both= [16, 18, 14, 11, 25]
unique elements are [16, 18, 22, 19, 26, 23, 14, 11, 25, 17, 21, 25, 11, 15, 29, 18, 13, 14, 12, 16]
minimum element= 11

TypeError: 'int' object is not callable

In [ ]:
#Q6
import random as r
l=r.sample(range(100,900),100)
print(l)

#(I)WAPto print all odd numbers
l1=[]
for i in l:
  if i % 2 != 0:
    l1.append(i)
print(l1)

#(II)WAPto print all even numbers
l2=[]
for i in l:
  if i % 2 == 0:
    l2.append(i)
print(l2)

#(II)WAPto print all prime numbers
l3=[]
for i in l:
  flag=0
  for j in range( 2 , i//2+1):
     if i%j==0:
       flag=1
       break
  if flag==0:
    l3.append(i)

print ("prime numbers in l = ",l3)

[655, 177, 544, 777, 523, 148, 263, 394, 385, 145, 272, 625, 815, 452, 172, 672, 356, 113, 515, 629, 848, 281, 229, 494, 133, 677, 433, 328, 533, 363, 146, 307, 502, 232, 874, 184, 256, 358, 341, 362, 203, 378, 469, 414, 345, 352, 577, 737, 306, 141, 497, 553, 477, 174, 321, 592, 185, 441, 485, 179, 609, 587, 102, 631, 299, 723, 786, 371, 164, 897, 218, 275, 539, 712, 746, 430, 158, 459, 570, 279, 243, 699, 589, 192, 795, 820, 858, 633, 461, 894, 395, 663, 473, 464, 649, 536, 150, 246, 516, 206]
[655, 177, 777, 523, 263, 385, 145, 625, 815, 113, 515, 629, 281, 229, 133, 677, 433, 533, 363, 307, 341, 203, 469, 345, 577, 737, 141, 497, 553, 477, 321, 185, 441, 485, 179, 609, 587, 631, 299, 723, 371, 897, 275, 539, 459, 279, 243, 699, 589, 795, 633, 461, 395, 663, 473, 649]
[544, 148, 394, 272, 452, 172, 672, 356, 848, 494, 328, 146, 502, 232, 874, 184, 256, 358, 362, 378, 414, 352, 306, 174, 592, 102, 786, 164, 218, 712, 746, 430, 158, 570, 192, 820, 858, 894, 464, 536, 150, 246, 516, 206]
prime numbers in l =  [523, 263, 113, 281, 229, 677, 433, 307, 577, 179, 587, 631, 461]

In [ ]:
#Q7D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.

import pandas as pd
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
df=pd.DataFrame.from_dict(D,orient="index")
print(df)

       0
1    One
2    Two
3  Three
4   Four
5   Five

In [ ]:
#Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 #WAP to count the length of reach element from a list
L=["One","Two","Three","Four","Five"]
for i in L:
  print(i,len(i))

One 3
Two 3
Three 5
Four 4
Five 4

In [ ]:
#Q9 Write to the file 100 random strings whose length between 10 and 15.
import string as s
import random as r
for i in range(1,101):
  num=r.randint(10,15)
  passwd="".join(r.sample(s.ascii_letters,num))

  print (passwd)

Selected string =  itRPHqGvcQpruI
Selected string =  WJOIjifTGkuvm
Selected string =  ZPgTNcmWktoIS
Selected string =  oguLThltIkNp
Selected string =  NhosxfrOmiXkbF
Selected string =  SHtyDIJfUWk
Selected string =  uJqOPtEZTRWFwI
Selected string =  rgijAcUBuId
Selected string =  IwmgAraQezt
Selected string =  jbgtUAYcTeWx
Selected string =  WHvoYTlyJUOXc
Selected string =  YHtzRloWrUvASD
Selected string =  ZgkOEQhJUx
Selected string =  tbNuLnghvRZcd
Selected string =  LUbIuPmplenDRS
Selected string =  JDCaHVYpGsd
Selected string =  TCYNzuBvPFfJHm
Selected string =  OVJlorBmfjqaNwF
Selected string =  zmeIKJDyjcqAT
Selected string =  vMcPrUeZsjp
Selected string =  SRZILepiQgKxj
Selected string =  Nabyxpkfqd
Selected string =  NxpGAqvZlWRK
Selected string =  oYTzZqtMcIjJasr
Selected string =  RNEhHborVAIU
Selected string =  XzNTHuaBmnwRfgr
Selected string =  YZycwrtaLlbERiH
Selected string =  alwueZQSCk
Selected string =  ulBtxryWMTGL
Selected string =  gwZrNomUIqf
Selected string =  YfgoEZSRjsG
Selected string =  tGYdCPTmrHNe
Selected string =  zgyWEvXaGpCuis
Selected string =  hMHtQvEGmsCNRxu
Selected string =  uqFaXPbYMWr
Selected string =  WXNqtZuHCApTI
Selected string =  YtiSugwfdnmqj
Selected string =  ulpNrkxwcaHFg
Selected string =  qTekpNBlAMQvOsX
Selected string =  akodYbOtNSqG
Selected string =  EOQCcJTfWDzv
Selected string =  UvNAIlcwjgO
Selected string =  ovDbFGmwpyNQh
Selected string =  JyekntNDSOY
Selected string =  ixONcvGAzrpk
Selected string =  XewlQpWLIPHb
Selected string =  iVbUszYEDkINCXx
Selected string =  WIGbLYsoAtl
Selected string =  gqtOUiNaWhL
Selected string =  xmIeyNnUuh
Selected string =  NCGmJrZPHx
Selected string =  SegwONZBGfW
Selected string =  zbKsTjmnQyHUiuk
Selected string =  qgaPkwFjHzyesS
Selected string =  HovzbZOKsmPRY
Selected string =  IRgypuvljDH
Selected string =  ocgZpAFWVGUuYm
Selected string =  vZlTikhNuX
Selected string =  YNdbStALCKqZ
Selected string =  WjIUdpNATrw
Selected string =  lZCzvqWVRL
Selected string =  XSNxcJqiwEUkeG
Selected string =  aucYsTqhWSvwd
Selected string =  YadIjuSUsAmxe
Selected string =  BPaRxEDQbpcT
Selected string =  XgrEpcUIaCuT
Selected string =  bVkzQXPKwvN
Selected string =  mbpcFJqXojYUE
Selected string =  OguLEqXsnZlVJd
Selected string =  ZDsqFunVfX
Selected string =  ulcVRTfmISyJhw
Selected string =  vwGVQliDqCILnYy
Selected string =  QcHjlFqInT
Selected string =  ICFnKZBJyUwRxz
Selected string =  NInaJmwxeGRfYur
Selected string =  EsgbaBnuSTpK
Selected string =  VkScnZwqTA
Selected string =  kliMOFCZABJDQHy
Selected string =  FubhfMoNmDlPCKt
Selected string =  zcmbQHElLhqVfN
Selected string =  nMiVvgUjIu
Selected string =  tfYWSZcJQgIDAF
Selected string =  UYKzgwPaIhDF
Selected string =  CLXdroTxHws
Selected string =  EtzfjIwsvS
Selected string =  bDndWYBNcKJ
Selected string =  zIFbCQUqTDngMs
Selected string =  AyweWpNXRriK
Selected string =  qACNOnUfzbsF
Selected string =  NypRicexTPAHI
Selected string =  yfrMwFdVIl
Selected string =  SLzJfQchmV
Selected string =  XUcDuABolw
Selected string =  YDmvSFNgRQVeW
Selected string =  UNjIgVFRCwX
Selected string =  SIJcGTnqQvit
Selected string =  YTMFHGROUeNyW
Selected string =  DdasYQJMENOGPul
Selected string =  xbkMhCQFEJwr
Selected string =  wdxrqcjKANaWPv

In [ ]:
  num=r.randint(6,8)
  passwd="".join(r.sample(s.ascii_letters,num))
  print ("Selected string = ",passwd)
l=[]
for i in range(600,800):
   flag=0
   for j in range( 2 , i//2+1):
     if i%j==0:
       flag=1
       break

   if flag==0:
    l.append(i)
print ("prime numbers between 600 and 800 = ",l)
def write_primes_to_file(start, end, filename):

    with open(filename, 'w') as file:
        for num in range(start, end + 1):

                file.write(str(l) + '\n')

Selected string =  IgLkcjD
prime numbers between 600 and 800 =  [601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [ ]:
def write_strings_to_file(strings, filename):
    """Write a list of strings to a file."""
    with open(filename, 'w') as file:
        for string in strings:
            file.write(string + '\n')

In [ ]:
#Q11. WAP to calculate the time taken by a program
import time as t
t1=t.time()

l=[]
for i in range(600,800):
   flag=0
   for j in range( 2 , i//2+1):
     if i%j==0:
       flag=1
       break

   if flag==0:
    l.append(i)
print ("prime numbers between 600 and 800 = ",l)
t2=t.time()
t3=t2-t1
print("time taken =",t3)

prime numbers between 600 and 800 =  [601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]
time taken = 0.002693653106689453